/* ---------- */
/* SNAKE GAME */
/* ---------- */

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-d);
    outline: 2px dashed var(--color-border);
}

@media (prefers-color-scheme: dark) {
    .field {
        background-color: var(--color-a-monocromatic-d);
    }
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background-color: var(--color-a-monocromatic-b);
}

.head {
    background-color: var(--color-a-monocromatic-a);
}

.mouse {
    background-color: var(--color-e);
}

.death {
    background-color: var(--color-a-monocromatic-d);
}

@media (prefers-color-scheme: dark) {
    .death {
        background-color: var(--color-c);
    }
}

/**/

.centered {
    text-align: center;
}

.score {
    display: block;
    text-align: center;
    font-size: 32px;
    margin-block-end: 32px;
}

.field-wrapper {
    margin-block-end: 32px;
}

