@charset 'UTF-8';

.map {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.cell {
}

.border {
  background-color: #333c4f;
}

.apple {
  background-color: #d98a89;
}

.mouse {
  background-color: #c1839f;
}

.crap {
  background-color: #cfab8c;
}

.bomb {
  background-color: #7ac2a5;
}

.holywater {
  background-color: #7a91c2;
}

.snakeTail {
  background-color: var(--color-a-monocromatic-b);
}

.snakeHead {
  background-color: var(--color-a-monocromatic-a);
}

@media (prefers-color-scheme: dark) {
  .map {
    background-color: var(--color-a-monocromatic-d);
  }
}
